{% if 'form_errors' in session and session['form_errors'] %}
    <div class="row">
        <div class="medium-8 large-6 columns">
            <div class="callout alert">
                <ul>
                    {% for errors, messages in session['form_errors'].items() %}
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
{% if form and form.errors %}
    <div class="row">
        <div class="medium-8 large-6 columns">
            <div class="callout alert">
                <ul>
                    {% for errors, messages in form.errors.items() %}
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
