{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h1>FlaskTemplate!</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>This is our basic Flask template</h3>
            <p>To edit this page, edit <code>project/templates/home.html</code>.</p>
            <p>Other Documentation you'll need:</p>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <p><a href="http://flask.pocoo.org/docs/">Flask Documentation</a>
                        <br />Everything you need to know about the micro-framework running in the background.</p>
                </div>
                <div class="large-6 medium-6 columns">
                    <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a>
                        <br />Everything you need to know about using the frontent framework.</p>
                </div>
            </div>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <p><a href="https://github.com/hammygoonan/FlaskTemplate">FlaskTemplate on Github</a>
                        <br />Latest code, issue reports, feature requests and more.</p>
                </div>
                <div class="large-6 medium-6 columns">
                    <p><a href="https://twitter.com/the_flaconry">@the_flaconry</a>
                        <br />Ping us on Twitter if you have questions.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>What's included?</h3>
        <h3>Requirements</h3>
        <h2>Installation</h2>
        <h3>Flask</h3>
        <h3>Foundation</h3>
    </div>
</div>
{% endblock %}
