{% with messages = get_flashed_messages(category_filter=["info"]) %}
    {% if messages %}
        <div class="row">
            <div class="medium-8 large-6 columns">
                <div class="callout success">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message | safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        <div class="row">
            <div class="medium-8 large-6 columns">
                <div class="callout alert">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message | safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}
