{% extends "base.html" %}
{% block title %}Edit details{% endblock %}
{% block content %}
<div class="row edit-user">
    <div class="large-12 columns">
        <h1>Edit your details:</h1>
        {% include 'success_messages.html' %}
        {% include 'form_errors.html' %}
        <h2>Edit your email</h2>
        <form id="edit-email-form" method="post" action="{{ url_for('users.edit_email') }}">
            {{ email_form.hidden_tag() }}
            <div class="row">
                <div class="medium-8 large-6 columns">
                    {{ email_form.email.label }}
                    {% if email_form.errors['email'] %}
                        {{ email_form.email(class_='alert', required='required') }}
                    {% else %}
                        {{ email_form.email(required='required', value=current_user.email) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
        <h2>Edit your password</h2>
        <form id="edit-password-form" method="post" action="{{ url_for('users.edit_password') }}">
            {{ password_form.hidden_tag() }}
            <div class="row">
                <div class="medium-8 large-6 columns">
                    {{ password_form.password.label }}
                    {% if password_form.errors['password'] %}
                        {{ password_form.password(class_='alert', required='required') }}
                    {% else %}
                        {{ password_form.password(required='required') }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-8 large-6 columns">
                    {{ password_form.confirm_password.label }}
                    {% if password_form.errors['confirm_password'] %}
                        {{ password_form.confirm_password(class_='alert', required='required') }}
                    {% else %}
                        {{ password_form.confirm_password(required='required') }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
{% endblock %}
