{% extends "base.html" %}

{% block content %}
<h1>Forgot Password?</h1>
{% for message in get_flashed_messages() %}
    <p class="has-error">{{ message }}</p>
{% endfor %}
<p>Please enter your email below and we'll reset your password:</p>
<form id="login-form" method="post" action="{{ url_for('users.forgot_password') }}">
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" name="email" id="email" type="text" placeholder="Your Email Address" />
    </div>
    <button type="submit" class="form-control btn btn-warning">Submit</button>
</form>
{% endblock %}
