{% extends "base.html" %}

{% block content %}
<h1>Enter your new password:</h1>
{% for message in get_flashed_messages() %}
    <p class="has-error">{{ message }}</p>
{% endfor %}
<form id="reset-form" method="post" action="/users/reset_password">
    <div class="form-group">
        <label for="password">New password:</label>
        <input class="form-control" id="password" name="password" type="password" placeholder="New Password" />
    </div>
    <input type="hidden" name="user_id" value="{{ user }}" />
    <button type="submit" class="form-control btn btn-warning">Submit</button>
</form>
{% endblock %}
