{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="row reset-password">
    <div class="large-12 columns">
        <h1>Reset Password</h1>
        {% include 'success_messages.html' %}
        {% include 'form_errors.html' %}
        <form id="login-form" method="POST" action="{{ url_for('users.reset_password', path=code) }}">
            {{ form.csrf_token }}
            {{ form.code(value=code) }}
            <div class="row">
                <div class="medium-8 large-6 columns">
                    {{ form.email.label }}
                    {% if form.errors['email'] %}
                        {{ form.email(class_='alert', required='required') }}
                    {% else %}
                        {{ form.email(required='required') }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-8 large-6 columns">
                    {{ form.password.label }}
                    {% if form.errors['password'] %}
                        {{ form.password(class_='alert', required='required') }}
                    {% else %}
                        {{ form.password(required='required') }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-8 large-6 columns">
                    {{ form.confirm_password.label }}
                    {% if form.errors['confirm_password'] %}
                        {{ form.confirm_password(class_='alert', required='required') }}
                    {% else %}
                        {{ form.confirm_password(required='required') }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
