{% extends "base.html" %}
{% block title %}Page not found (404){% endblock %}
{% block body_class %}four-oh-four{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h1>BAAAALLLLLLLL!!!!!!!</h1>
        <h2>Page not found (404)</h2>
    </div>
    <div class="large-12 columns">
        <p>Whatever it is you're looking for, it aint here.</p>
        <p>Perhaps you should return to the <a href="{{ url_for('pages.home') }}">home page</a> and try again.</p>
    </div>
</div>
{% endblock %}
