{% extends "base.html" %}
{% block title %}Server Error ({{ code }}){% endblock %}
{% block body_class %}server-error{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h1>Server Error ({{ code }})</h1>
    </div>
    <div class="large-12 columns">
        <p>There has been an error serving your request. It's probably our fault so we have notified the appropriate people.</p>
        <p>Perhaps you should try the <a href="{{ url_for('advert.home') }}">home page</a>.</p>
    </div>
</div>
{% endblock %}
